.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  width: 95%;
}

.each-slide span {
  padding: 2px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 20px;
  background: #D3D3D3;
  color: black;
  text-align: center;
}

@media (max-width: 1000px) {
	.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}
}